name: Images

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

defaults:
  run:
    shell: "bash -Eeuo pipefail -x {0}"

jobs:
  # init:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: octokit/request-action@v2.x
  #       id: releases
  #       with:
  #         route: GET /repos/stashapp/stash/git/matching-refs/tags
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     - run: "${{ steps.releases.outputs.data }}"

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          -  v0.29.0
          -  v0.29.1
          -  v0.29.2
          -  v0.29.3
          -  v0.30.0
          -  v0.30.1
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          tags: ghcr.io/parad0x3dart/transmission:${{ matrix.version }}
          push: true
          file: Dockerfile
          build-args: |
            VERSION=${{ matrix.version }}
